<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="TechTheme | Business Services & IT Solutions Multipurpose Responsive Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap" rel="stylesheet">
  <!-- Heading Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Signature Font -->
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body>

  <!-- Loader -->
  <div id="preloader"></div>
  <!-- Loader -->

  <!-- header -->
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>Credit<span>Card</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          
          <li><a href="/logon">Signup</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->

  <!-- Hero Section -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-12  order-lg-1 d-flex flex-column justify-content-center text-center caption">
          <h2>Welcome<span class="circle">To Dashboard</span></h2>
          <h3>A Machine Learning Method with Hybrid Feature Selection for
			Improved Fraud Detection in Banking Data</h3>
          
          
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!--Waves Container-->
  <div class="waves-wraper">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
  </div>
  <!--Waves end-->

 
  <main id="main">

    
    <!-- About Us Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About </h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="static/assets/images/s1.png" class="img-fluid rounded-4 mb-4" alt="">
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p>
                Over the years, electronic payments (e-payments) have been the most common payment option due to technological advancements and the development of several electronic
                funding methods
              </p>
              <p>
                With the rapid developments in electronic commerce and digital payment technologies,
                banking transactions, especially credit card transactions have increased significantly. Machine learning (ML) has been vital in analyzing customer data to detect and prevent fraud.
              </p>
              <p>
                The proposed method
                uses the information gain (IG) technique to rank the features, and the top-ranked features are fed
                to a genetic algorithm (GA) wrapper, which uses the extreme learning machine (ELM) as the learning algorithm
              </p>
              <p>
                Using the information gain technique for initial feature selection to rank the features
                in the credit card dataset, only the top-ranked features are fed into the GA wrapper to
                reduce the search space and enhance the classification performance.
              </p>
              <p>
                Secondly, the GA wrapper is employed to select the best feature subset that results in
                optimal classification performance, and the ELM is employed as the learning algorithm
                in the GA wrapper.
              </p>              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- Footer -->
  <footer id="footer" class="footer-section">
    
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        
                    </div>
                </div>
                <div class="footer-social-icon">
                  <span>Follow us</span>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-google"></i></a>
                  <a href="#"><i class="bi bi-youtube"></i></a>
                  <a href="#"><i class="bi bi-whatsapp"></i></a>
              </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="static/assets/javascripts/jquery.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/javascripts/plugins.js"></script>
  <script src="static/assets/javascripts/validator.min.js"></script>
  <script src="static/assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/javascripts/main.js"></script>

</body>

</html>